*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Yusei Magic', sans-serif;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, #43c6ac, #191654);
}
.container{
    border: 1px solid #1f1f1fff;
    border-radius: 10px;
    width: 90vw;
    height: 90vh;
    display: grid;
    grid-template-columns: 1fr 2fr;
}
.left-side{
    border-right: 1px solid #1f1f1fff;
    text-align: center;
}
.left-side hr{
    border: 1px solid #1f1f1ff3;
}
.right-side{
    background-color: #f0f0f0df;
    border-radius: 0px 10px 10px 0px;
    display: grid;
    grid-template-rows:1fr 10fr 1fr;
}
#username{
    line-height: 49px;
    border-bottom: 1px solid #1f1f1fff;
}
.title{
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height:50px;
    border-bottom: 1px solid black;
    border-radius: 0px 10px 0px 0px;
}
.chat{
    background-color: #fff;
    width: 800px;
    height: 450px;
    padding: 5px;
    border-radius: 5px;
    margin:auto;
    overflow: auto;
    display:flex; 
    flex-direction:column;
}
#message{
    width: 85%;
    height: 30px;
    border-radius: 5px;
    border: none;
}
#send-button{
    cursor: pointer;
    height: 30px;
    width: 10%;
    border-radius: 5px;
    border: 1px solid green;
    background-color: #01ff0f;
}
.send{
    margin: 0px 0px 0px 40px;
    display: flex;
    
}
#message:focus,#send-button:focus{
    outline: none;
}
#send-button:hover{
    background-color: #15c009;
}
.groups{
    overflow: auto;
    width: 420px;
    height: 550px;
}
.group{
    width: 400px;
    height: 50px;
    font-size: 20px;
    background-color: #D8E3E4;
    border-radius: 2px;
    border: 1px solid black;
    margin-top: 10px;
    cursor: pointer;
}
#nick{
    color: green;
}
#nick-receive{
    color: red;
}

