*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Yusei Magic', sans-serif;
}
.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, #43c6ac, #191654);
}
.mini-container{
    width: 400px;
    height: 200px;
    padding: 10px;
    display: grid;
}
.login{
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    margin: 5px;
    padding: 30px;
    width: 350px;
    height: 100px;
    border-radius: 50px;
    outline: none;
    box-shadow: none;
    border: 1px solid #141E30;
    background: linear-gradient(to right, #141e30, #243b55);
    font-size: 25px;
    color: white;
}
.login:focus,.login:hover{
    outline: none;
    box-shadow: none;
    background: linear-gradient(to right, #141e30, #243b55);
    transition: 1s;
    border: 2px solid #141ef3;
}
footer{
    position: absolute;
    bottom: 0;
}
footer hr{
    border: 1px solid black;
}